@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the online Libary, you can look at the <a asp-controller="Book" asp-action="List">list</a> of our books here.</p>
</div>
 